{% extends "base.html" %}
{% load i18n %}

{% block body_block %}

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron_two">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span class="font_styled">Settings</span></h1>
            <p style="font-size:16px;" class="font_styled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tired of your old password? Get a new one!</p>
          </div>
          <div class="row" style="padding:15px;">

              <div class="col-md-12" style="border: 2px solid; border-radius: 25px; border-color: #dedede; margin-bottom:15px; padding:10px; background-color:#ffffff;">


                <div class="container">
                  <div class="row" style="padding:20px;">

                  <form role="form">
                      {% csrf_token %}
                    <!--<div class="form-group">
                      <label for="email">Name:</label>
                      <input type="name" class="form-control" id="name" placeholder="Enter name" style="width:400px;">
                    </div>
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" style="width:400px;">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" style="width:400px;">
                    </div>!-->
                  <div class="form-group">
                    <label for="id_old_password">Old password:</label>
                      <input id="id_old_password" name="old_password" type="password" class="form-control" placeholder="Enter old password"  id="pwd" style="width:400px;">
                  </div>
                  <div class="form-group">
                    <label for="id_old_password">New password:</label>
                      <input id="id_new_password1" name="new_password1" type="password" class="form-control" placeholder="Enter new password" style="width:400px;">
                  </div>
                  <div class="form-group">
                    <label for="id_old_password">Repeat new password:</label>
                      <input id="id_new_password2" name="new_password2" type="password" class="form-control" placeholder="Repeat new password" style="width:400px;">
                  </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                  </form>
                </div>
              </div>


              </div>
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <h3><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <span class="font_styled">Tips</span></h3><span class="font_styled">Useful ideas to help you get the most from Lunch Up.</span><br /><br />
          <div class="list-group">
            <span href="#" class="list-group-item" style="padding:15px;">1. Lorem ipsum dolor sit amet, vim omnesque delicata in, dicat cotidieque ne sed. Lorem tollit denique usu ei, animal reformidans vim at.</span>
            <span href="#" class="list-group-item" style="padding:15px;">2. Lorem ipsum dolor sit amet, vim omnesque delicata in, dicat cotidieque ne sed.</span>
            <span href="#" class="list-group-item" style="padding:15px;">3. Tollit denique usu ei, animal reformidans vim at.</span>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

{% endblock %}
