{% extends "base.html" %}
{% load i18n %}

{% block body_block %}

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron_two">
                <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> <span
                        class="font_styled">Settings</span></h1>

                <p style="font-size:16px;" class="font_styled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tired
                    of your old password? Get a new one!</p>
            </div>
            <div class="row" style="padding:15px;">

                <div class="col-md-12"
                     style="border: 2px solid; border-radius: 25px; border-color: #dedede; margin-bottom:15px; padding:10px; background-color:#ffffff;">


                    <div class="container">
                        <div class="row" style="padding:20px;">

                            <form role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_old_password">Old password:</label>
                                    <input id="id_old_password" name="old_password" type="password" class="form-control"
                                           placeholder="Enter old password" id="pwd" style="width:400px;">
                                </div>
                                <div class="form-group">
                                    <label for="id_old_password">New password:</label>
                                    <input id="id_new_password1" name="new_password1" type="password"
                                           class="form-control" placeholder="Enter new password" style="width:400px;">
                                </div>
                                <div class="form-group">
                                    <label for="id_old_password">Repeat new password:</label>
                                    <input id="id_new_password2" name="new_password2" type="password"
                                           class="form-control" placeholder="Repeat new password" style="width:400px;">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
            <!--/row-->
        </div>
        <!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <h3><span class="glyphicon glyphicon-check" aria-hidden="true"></span> <span class="font_styled">Tips</span>
            </h3><span class="font_styled">Useful ideas to help you get the most from Lunch Up.</span><br/><br/>

            <div class="list-group">
                <span href="#" class="list-group-item" style="padding:15px;">1. Use a long password made up of numbers, letters and symbols. The longer that your password is, the harder it is to guess. So make your password long to help keep your information safe. Adding numbers, symbols and mixed-case letters makes it harder for would-be snoops or others to guess or crack your password. Please don’t use ‘123456’ or ‘password’ and avoid using publicly available information like your phone number in your passwords. It’s not very original and it isn't very safe!</span>
                <span href="#" class="list-group-item" style="padding:15px;">2. Try using a phrase that only you know.</span>
                <span href="#" class="list-group-item" style="padding:15px;">3. Keep your passwords in a secret place that isn’t easily visible. Writing down your passwords isn't necessarily a bad idea. But if you do this, don’t leave notes with your passwords in plain sight on your computer or desk.</span>
            </div>
        </div>
        <!--/.sidebar-offcanvas-->
    </div><!--/row-->

    <hr>

{% endblock %}
