{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block body_block %}
<div class="page-header">
	<h1>User Profile</h1>
</div>
<div class="hero-unit">
	<p>User: {{ user.username }}</p>
    <p><a href="{% url 'upload_picture' %}">
        {% if profile.picture %}
            <img src="{{ profile.picture.url }}">
        {% else %}
            <img src="http://placehold.it/150x200">
        {% endif %}
    </a></p>
	<p>Real name: <a href="#" id="fullName" data-type="text" data-pk="{{ profile.id }}" data-url="/edit_profile/" data-title="Enter your full name">{{ profile.fullName }}</a></p>
	<p>Email: <a href="#" id="publicEmail" data-type="text" data-pk="{{ profile.id }}" data-url="/edit_profile/" data-title="Enter your public email">{{ profile.publicEmail }}</a></p>
    <p>About me: <a href="#" id="about" data-type="textarea" data-pk="{{ profile.id }}" data-url="/edit_profile/" data-title="Tell us something about yourself">{{ profile.about }}</a></p>

</div>
<script type="text/javascript">
$(document).ready(function() {
    $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
    // Make fields editable
    $('#fullName').editable({
        success: function(response, newValue) {
            if(response.status == 'error') return response.msg;
        }
    });
    $('#publicEmail').editable({
        success: function(response, newValue) {
            if(response.status == 'error') return response.msg;
        }
    });
    $('#about').editable({
        success: function(response, newValue) {
            if(response.status == 'error') return response.msg;
        }
    });
});
</script>
{% endblock %}