{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Profile {% endblock %}

{% block body_block %}
<div class="page-header">
	<h1>User Profile</h1>
</div>
<div class="hero-unit">
	<p>User: {{ user.username }}</p>
	<p>Real name: <span id ="realname"></span></p>
	<p id="email"></p>
    <p>About me: <span id ="about"></span></p>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
          url: '/api/v1/profile/{{ profile.id }}/?format=json',
          type: 'GET',
          accepts: 'application/json',
          dataType: 'json',
          success: function(data, status) {
              $("#about").html(data["about"]);
              $("#realname").html(data["firstName"] + " " + data["lastName"]);
              $("#email").html("<a href='mailto:" + data["publicEmail"] + "'>Mail me</a>");
              alert('response: ' + JSON.stringify(data));
          },
          error: function(data, status) {
              alert('Something went wrong: ' + data);
          }
        });
    });
</script>
{% endblock %}