{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="col-xs-12 col-sm-12">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron_two">
            <h1><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="font_styled">About Team Sneaky</span>
            </h1>

            <p style="font-size:16px;" class="font_styled">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Four
                2nd Year Computer Science Students</p>
        </div>
        <div class="row" style="padding:15px;">
            <div class="col-md-3 howitworks_col" style="background-color:#ffffff;">
                <h2>&nbsp;&nbsp;&nbsp;<span class="font_styled" style="color:#FF003C; font-weight:bold;">Justas</span>
                </h2>
                <br/>
                <ul>
                    <li>blah blah</li>
                    <li>blah blah</li>
                    <li>blah blah</li>
                </ul>
                <br/>
            </div>

            <div class="col-md-3 howitworks_col" style="background-color:#ffffff;">
                <h2>&nbsp;&nbsp;&nbsp;<span class="font_styled" style="color:#FF8A00; font-weight:bold;">Omar</span>
                </h2>
                <br/>
                <ul>
                    <li>blah blah</li>
                    <li>blah blah</li>
                    <li>blah blah</li>
                </ul>
                <br/>
            </div>

            <div class="col-md-3 howitworks_col" style="background-color:#ffffff;">
                <h2>&nbsp;&nbsp;&nbsp;<span class="font_styled" style="color:#FABE28; font-weight:bold;">Raj</span></h2>
                <br/>
                <ul>
                    <li>blah blah</li>
                    <li>blah blah</li>
                    <li>blah blah</li>
                </ul>
                <br/>
            </div>

            <div class="col-md-3 howitworks_col" style="background-color:#ffffff;">
                <h2>&nbsp;&nbsp;&nbsp;<span class="font_styled" style="color:#FABE28; font-weight:bold;">Blair</span>
                </h2>
                <br/>
                <ul>
                    <li>blah blah</li>
                    <li>blah blah</li>
                    <li>blah blah</li>
                </ul>
                <br/>
            </div>
        </div>
{% endblock %}