<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SPLASH</title>
</head>
<body>
SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH
SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH
SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH
SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH
SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH SPLASH
</body>
</html>